<% content_for :head do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&callback=initializeSpotsMap", defer: true %>
<% end %>

<div class="container" 
     data-controller="spots-registration" 
     data-spots-registration-travel-id-value="<%= @travel.id %>"
     data-spots-registration-total-days-value="<%= @total_days %>">
  <!-- 検索とボタンのグループ -->
  <div class="mb-3">
    <div class="input-group">
      <input
        id="pac-input"
        class="form-control"
        type="text"
        placeholder="場所を検索"
      />
      <button class="btn btn-success" data-action="spots-registration#registerSpot" data-category="sightseeing">観光登録</button>
      <button class="btn btn-warning" data-action="spots-registration#registerSpot" data-category="restaurant">食事処登録</button>
      <button class="btn btn-info" data-action="spots-registration#registerSpot" data-category="hotel">宿泊先登録</button>
    </div>
  </div>

  <div class="row">
    <!-- 左側：マップ -->
    <div class="col-md-7 mb-3">
      <div id="map" style="height: 400px;" data-spots-registration-target="map"></div>
    </div>

    <!-- 右側：登録済みスポット -->
    <div class="col-md-5">
      <div class="spots-container">
        <div id="sightseeing-spots" class="mb-3">
          <h5 class="bg-success text-white p-2">観光スポット</h5>
          <div class="spots-list" data-spots-registration-target="sightseeingList"></div>
        </div>
        <div id="restaurant-spots" class="mb-3">
          <h5 class="bg-warning text-white p-2">食事処</h5>
          <div class="spots-list" data-spots-registration-target="restaurantList"></div>
        </div>
        <div id="hotel-spots" class="mb-3">
          <h5 class="bg-info text-white p-2">宿泊先</h5>
          <div class="spots-list" data-spots-registration-target="hotelList"></div>
        </div>
      </div>
    </div>

    <!-- 保存ボタン -->
    <div class="text-center mt-3">
      <button data-action="spots-registration#saveSchedules" class="btn btn-primary">保存</button>
    </div>
  </div>
</div>

<%= content_tag :div, "", 
    data: {
      spots_registration_existing_spots_value: @spots.to_json(
        only: [:id, :name, :category, :lat, :lng, :order_number, :day_number, :time_zone]
      )
    },
    style: "display: none;" 
%>

<script>
// コールバック関数名を変更
window.initializeSpotsMap = function() {
  console.log('Spots map initialization started');
  window.dispatchEvent(new Event('spots-map-loaded'));
}
</script>
